{:docs {:enabled? true}
 :telemetry {:elasticsearch-indices {:rockblock "rockblock-data"
                                     :cubesat   "cubesat-data"}}

 :database  {:elasticsearch {:host        "http://localhost"
                             :port        9200
                             :conn-config {:content-type :json
                                           :basic-auth   ["example-user" "example-password"]}}
             :image         {:root "cubesat_images"}}

 :control   {:rockblock {:imei       "example-imei"
                         :basic-auth ["example-user" "example-password"]}}}