{:telemetry {:elasticsearch-indices {:rockblock "rockblock-data"
                                     :cubesat "cubesat-data"}}
 :database {:elasticsearch {:host "http://localhost"
                            :port 9200
                            :conn-config {:content-type :json}}}}